p {
  display: inline;
  padding: 20px;
  font-size: 40px;
}

h1 {
  padding: 20px;
  font-size: 50px;
}

.Center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
